footer
    div.container.text-center
        a.facebook(href="https://www.facebook.com/heavenuphere" target="_blank")
            span.fa-stack.fa-2x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-facebook.fa-stack-1x.fa-inverse

        a.instagram(href="http://instagram.com/heavenuphere" target="_blank")
            span.fa-stack.fa-2x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-instagram.fa-stack-1x.fa-inverse

        a.spotify(href="http://open.spotify.com/user/heavenuphere_sthlm" target="_blank")
            span.fa-stack.fa-2x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-spotify.fa-stack-1x.fa-inverse

        a.soundcloud(href="https://soundcloud.com/heavenupheresthlm/" target="_blank")
            span.fa-stack.fa-2x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-soundcloud.fa-stack-1x.fa-inverse