doctype html
html(lang="sv")
    head
        title=title
        include ../partials/header
    body
    div.jumbotron.text-center
        div.container
            img.logo(src="/heavenuphere-logo.svg" alt="Heaven Up Here")
    div.container.main-container
        block content
    include ../partials/footer