body {
  background-color: #262626;
  color: #ebebe2;
}

footer {
  background: #ebebe2;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

.logo {
  width: 100%;
  max-width: 473px;
}
.jumbotron {
  margin-top: 50px;
}

.panel {
  background-color: transparent;
  margin-bottom: 0;
}
.panel-body {
  padding-top: 0;
  padding-bottom: 0;
}

footer a {
  display: inline-block;
  color: #333;
  transition:.3s;
}

footer a:hover {
  color: #fbd10d;
}
