<!DOCTYPE html>
<html lang="sv">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="jumbotron text-center">
    <div class="container">
      <img src="heavenuphere-logo.svg" alt="Heaven Up Here" class="logo" />
    </div>
  </div>
<div class="container">
  <% include ../partials/form.ejs %>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>
