<!DOCTYPE html>
<html lang="sv">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="jumbotron text-center">
    <div class="container">
      <img src="heavenuphere-logo.svg" alt="Heaven Up Here" class="logo" />
    </div>
  </div>
<div class="container">
  <form method="post" action="/api/submissions">
    <div class="form-group">
      <label for="artist">Artist / namn</label>
      <input type="text" class="form-control" id="artist" name="artist" placeholder="Artist / namn" />
    </div>
    <div class="form-group">
      <label for="website">Hemsida</label>
      <input type="text" class="form-control" id="website" name="website" placeholder="L&auml;nk till hemsida, Facebook eller liknande" />
    </div>
    <div class="form-group">
      <label for="links">Lyssningsl&auml;nkar</label>
      <div class="links-container">
        <div class="input-group form-group entry">
          <input type="text" class="form-control" id="links" name="links[]" placeholder="L&auml;nk" />
          <span class="input-group-btn">
            <button class="btn btn-primary btn-add" type="button">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="message">Meddelande</label>
      <textarea class="form-control" rows="5" id="message" name="message" placeholder="H&auml;r kan ni ber&auml;tta lite om er sj&auml;va"></textarea>
    </div>
    <div class="form-group">
      <label for="name">Namn</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Namn" />
    </div>
    <div class="form-group">
      <label for="email">E-post</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="E-post" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>
