<!DOCTYPE html>
<html lang="sv">

<head>
	<% include ../partials/header.ejs %>
</head>

<body>
	<div class="jumbotron text-center">
		<div class="container">
			<img src="/heavenuphere-logo.svg" alt="Heaven Up Here" class="logo" />
		</div>
	</div>
	<div class="container main-container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1 class="text-center">Tack!</h1>
				<p>
					Tack f&ouml;r att du h&ouml;r av dig till oss! Vi ska lyssna och &aring;terkommer till dig om vi hittar något l&auml;mpligt datum p&aring; Heaven
						Up Here. Vi har &auml;ven skickat ett bekr&auml;ftelsemail till din e-post.
				</p>
			</div>
		</div>
	</div>

	<% include ../partials/footer.ejs %>
</body>

</html>